Tamanio de stack
STACK_SIZE=300

#SELF_P
SELF_P=8010

#Puerto_programas CLIENT
PUERTO_PROG=8060

#Puerto_CPUs  CLIENT
PUERTO_CPU=8061

#IP y Puerto UMV | CLIENT - SERVER
#IPYPUERTOUMV=192.168.1.41:5000
IPYPUERTOUMV=127.0.0.1:5000

#Quantum
QUANTUM=3

#Retardo_Quantum(milisegundos)
RETARDO=1000

#Grado de multiprogramacion
MULTIPROGRAMACION=2

#ID Variables Globales
ID_VARIABLES=[colas,compartida]

#Valor Variables Globales
VALOR_VARIABLES=[0,0]

#Identificadores de cada semaforo del sistema
SEMAFOROS=[b,c]

#Valores iniciales de semaforos
VALOR_SEMAFORO=[1,0]

#Retardos de I/O en milisegundos
HIO=[500,200]

#Identificadores de I/O
ID_HIO=[HDD1,LPT1]
