#Tamanio de stack
STACK_SIZE=300

#SELF_P
SELF_P=8010

#Puerto_programas CLIENT
PUERTO_PROG=8060

#Puerto_CPUs  CLIENT
PUERTO_CPU=8061

#IP y Puerto UMV | CLIENT - SERVER
IPYPUERTOUMV=192.168.1.43:5000
#IPYPUERTOUMV=127.0.0.1:5000

#Quantum
QUANTUM=2

#Retardo_Quantum(milisegundos)
RETARDO=5000

#Grado de multiprogramacion
MULTIPROGRAMACION=3

#ID Variables Globales
ID_VARIABLES=[compartida,B,C]

#Valor Variables Globales
VALOR_VARIABLES=[1,2,3]

#Identificadores de cada semaforo del sistema
SEMAFOROS=[mutexA,mutexB,S3]

#Valores iniciales de semaforos
VALOR_SEMAFORO=[1,2,3]

#Retardos de I/O en milisegundos
HIO=[1000,2000,3000]

#Identificadores de I/O
ID_HIO=[HDD1,LPT1,Scanner]
